# local package install
-e .

# third party packages
numpy
pandas
matplotlib
torch
torchvision
fastapi[all]
uvicorn
streamlit-drawable-canvas
tqdm
scikit-learn
opencv-python-headless
requests
dvc
dvc[gdrive]
mlflow
streamlit
streamlit-drawable-canvas
